
section[class^=odometer_] {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, .2);
}

._100-vmin {
    min-height: calc(100vmin - 2rem);
    overflow: hidden;
}

section[class^=odometer_]:first-of-type {
    padding-top: 2rem;
}

section.odometer_06 {
    padding-bottom: 2rem;
}

@media (max-width: 767px) {
    section[class^=odometer_] {
        padding: .5rem 1rem;
    }

    ._100-vmin {
        min-height: calc(100vmin - 1rem);
        overflow: hidden;
    }

    section[class^=odometer_]:first-of-type {
        padding-top: 1rem;
    }

    section.odometer_06 {
        padding-bottom: 1rem;
    }
}

::-moz-selection {
    color: auto;
    background: auto;
}

::selection {
    color: auto;
    background: auto;
}

.hljs {
    background: auto;
    color: auto;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
    color: auto;
    font-weight: 600;
}

.hljs-attribute,
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
    color: auto;
}

.hljs-comment,
.hljs-quote {
    color: auto;
}

.ctc-button {
    top: calc(100vh - 6rem);
}

.header p a,
footer p a,
h2 a {
    position: relative;
    display: inline-block;
    margin-right: .9em;
    transition: .2s ease all;
    box-shadow: 0 1px 0 0 #e4f222;
}

h2 a {
    box-shadow: 0 0 0 0 #676f00;
}

.header p a:hover,
footer p a:hover {
    color: #e4f222;
    box-shadow: 0 0 0 0 #e4f222;
}

h2 a:hover {
    color: #e4f222;
    box-shadow: 0 0 0 0 #676f00;
}

.header p a::after,
footer p a::after {
    content: "â†—";
    position: absolute;
    right: -.8em;
    bottom: -.05em;
}

h2 a::after {
    content: "â†—";
    position: absolute;
    right: -.8em;
    bottom: -.05em;

}

.component-header_inner {
    gap: 1rem;
}

.odometer {
    --time: 2s;
    --odometer-easing: ease;
    vertical-align: middle;
}

.odometer .odometer-inside {
    gap: .5rem;
}

@media (max-width: 479px) {
    .odometer .odometer-inside {
        gap: .2rem;
    }
}

.odometer .odometer-digit {
    display: inline-block;
    vertical-align: middle;
}

.odometer .odometer-digit .odometer-digit-spacer {
    display: block;
    vertical-align: middle;
    visibility: hidden;
}

.odometer .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
    left: 0;
    right: 0;
}

.odometer-ribbon-inner {
    -webkit-backface-visibility: hidden;
}

.odometer.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform var(--time);
    -moz-transition: -moz-transform var(--time);
    -ms-transition: -ms-transform var(--time);
    -o-transition: -o-transform var(--time);
    transition: transform var(--time);
}

.odometer.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.odometer.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform var(--time);
    -moz-transition: -moz-transform var(--time);
    -ms-transition: -ms-transform var(--time);
    -o-transition: -o-transform var(--time);
    transition: transform var(--time);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition-timing-function: var(--odometer-easing);
    -moz-transition-timing-function: var(--odometer-easing);
    -ms-transition-timing-function: var(--odometer-easing);
    -o-transition-timing-function: var(--odometer-easing);
    transition-timing-function: var(--odometer-easing);
}

.odometer .odometer-digit .odometer-value {
    -webkit-transform: translateZ(0);
}

.odometer._2 .odometer-inside .odometer-digit:last-child,
.odometer._2 .odometer-inside .odometer-digit:nth-child(1),
.odometer._2 .odometer-inside .odometer-formatting-mark:nth-child(2) {
    display: none;
}

.odometer._2 .odometer-inside .odometer-digit {
    border: .12rem solid #e4f222;
    background-image: none;
    background-color: #fff;
}

.odometer._2 .odometer-inside {
    gap: .2em;
}

@media (max-width: 479px) {
    .odometer._2 .odometer-digit {
        padding-left: .2rem;
        padding-right: .2rem;
    }

    .odometer._2 .odometer-inside {
        gap: .1em;
    }
}

.odometer._3 .odometer-inside .odometer-digit:last-child,
.odometer._3 .odometer-inside .odometer-digit:nth-child(1) {
    display: none;
}

.odometer._3 .odometer-inside::after {
    content: "â‚¬";
    background-color: rgba(255, 255, 255, .4);
    display: inline-block;
    border-radius: .3rem;
    padding: 0 .3rem;
    vertical-align: sup;
    opacity: 1;
    font-size: inherit;
    margin-right: .12em;
}

.odometer._4 .odometer-inside:before {
    content: "$";
    display: inline-block;
    vertical-align: sup;
    opacity: 1;
    font-size: inherit;
    margin-right: .12em;
}

.odometer._5 {
    display: inline-block;
    --odometer-easing: ease;
}

.odometer._5 .odometer-digit {
    padding: 0;
    background-color: transparent;
}

.odometer._5 .odometer-inside {
    gap: 0;
}

.preloader_odometer {
    gap: .5rem;
}

.ctc-wrap {
    pointer-events: none;
}

.ctc-button {
    pointer-events: auto;
}

.odometer-html-structure p a {
    position: relative;
    display: inline-block;
    margin-right: .9em;
    color: #676f00;
    transition: .2s ease all;
    box-shadow: 0 1px 0 0 #676f00;
}

.odometer-html-structure p a::after {
    content: "â†—";
    position: absolute;
    right: -.8em;
    bottom: -.05em;
}

.odometer-html-structure p a:hover {
    box-shadow: 0 0 0 0 #676f00;
}
