/* Set base font size dynamically */
html {
    font-size: calc(.7503904216553878rem + .31233732431025507vw);
}

/* Media query for screens with max width of 3840px */
@media screen and (max-width: 3840px) {
    html {
        font-size: calc(.7503904216553877rem + .3123373243102551vw);
    }
}

/* Media query for screens with max width of 1919px */
@media screen and (max-width: 1919px) {
    html {
        font-size: calc(.37382567849686854rem + .626304801670146vw);
    }
}

/* Media query for screens with max width of 1440px */
@media screen and (max-width: 1440px) {
    html {
        font-size: calc(.8438475546305931rem + .10405827263267431vw);
    }
}

/* Media query for screens with max width of 479px */
@media screen and (max-width: 479px) {
    html {
        font-size: calc(.7497384937238494rem + .41841004184100417vw);
    }
}

/* Remove top margin from the first child of .w-richtext */
.w-richtext > :first-child {
    margin-top: 0;
}

/* Remove bottom margin from last child of lists within .w-richtext */
.w-richtext ol li:last-child,
.w-richtext ul li:last-child,
.w-richtext > :last-child {
    margin-bottom: 0;
}

/* Disable pointer events */
.clickable-off {
    pointer-events: none;
}

/* Enable pointer events */
.clickable-on {
    pointer-events: auto;
}

/* Create a pseudo-element with square aspect ratio */
.div-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Style focus outline for main element */
main:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
}

/* Center containers horizontally */
.container-large,
.container-medium,
.container-small {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* Inherit color, text decoration, and font size for anchor elements */
a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

/* Style text to display 3 lines and truncate overflow */
.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Style text to display 2 lines and truncate overflow */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

/* Set minimum height and hide overflow */
._100-vmin {
    min-height: calc(100vmin - 2rem);
    overflow: hidden;
}

/* Additional styling for specific sections */
section[class^=odometer_]:first-of-type {
    padding-top: 2rem;
}

/* Additional styling for specific sections */
section.odometer_06 {
    padding-bottom: 2rem;
}

/* Media query adjustments for smaller screens */
@media (max-width: 767px) {
    /* Adjust padding for specific sections */
    section[class^=odometer_] {
        padding: .5rem 1rem;
    }
    /* Adjust minimum height for specific sections */
    ._100-vmin {
        min-height: calc(100vmin - 1rem);
        overflow: hidden;
    }
    /* Additional adjustments for specific sections */
    section[class^=odometer_]:first-of-type {
        padding-top: 1rem;
    }
    /* Additional adjustments for specific sections */
    section.odometer_06 {
        padding-bottom: 1rem;
    }



}

/* Styling for anchor elements in headers and footers */
.header p a,
footer p a,
h2 a {
    position: relative;
    display: inline-block;
    margin-right: 0em;
    transition: .2s ease all;
    box-shadow: 0 0px 0 0 #e4f222;
}

/* Additional styling for anchor elements in headers */
h2 a {
    box-shadow: 0 0 0 0 #676f00;
}

/* Hover styling for anchor elements */
.header p a:hover,
footer p a:hover {
    color: #e4f222;
    box-shadow: 0 0 0 0 #e4f222;
}

/* Hover styling for anchor elements in headers */
h2 a:hover {
    color: #e4f222;
    box-shadow: 0 0 0 0 #676f00;
}

/* Positioning for arrow after anchor elements */
.header p a::after,
footer p a::after {
    content: "â†—";
    position: absolute;
    right: -.8em;
    bottom: -.05em;
}

/* Positioning for arrow after anchor elements in headers */
h2 a::after {
    content: "â†—";
    position: absolute;
    right: -.8em;
    bottom: -.05em;
}

/* Styling for links in footer */
.footer_previous-cloneable-link .footer_previous-cloneable-link-text {
    transition: .3s ease all;
    -webkit-text-stroke: .5px rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 0);
    position: relative;
    z-index: 2;
    mix-blend-mode: overlay;
}

/* Hover styling for links in footer */
.footer_previous-cloneable-link:hover .footer_previous-cloneable-link-text {
    -webkit-text-stroke: .5px rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
}

/* Gap between social icons in footer */
.footer_social-list {
    gap: 1rem;
}

/* Styling for link image wrap in footer */
.footer_previous-cloneable-link-image-wrap {
    transform: translate(0, 10%) rotate(0);
    pointer-events: none;
}

/* Styling for link image wrap in footer */
.footer_previous-cloneable-link-image-wrap .layer {
    background-color: #e4f222;
    opacity: .2;
}

/* Hover styling for link image wrap in footer */
.footer_previous-cloneable-link:hover .footer_previous-cloneable-link-image-wrap {
    transform: translate(0, -15%) rotate(9deg);
    opacity: 1;
}

/* Gap between components in header */
.component-header_inner {
    gap: 1rem;
}

/* Odometer animation timing */
.odometer {
    --time: 2s;
    --odometer-easing: ease;
    vertical-align: middle;
}

/* Odometer digit styling */
.odometer .odometer-inside {
    gap: .5rem;
}

/* Media query adjustments for smaller screens */
@media (max-width: 479px) {
    /* Adjust gap for smaller screens */
    .odometer .odometer-inside {
        gap: .2rem;
    }
}

/* Odometer digit styling */
.odometer .odometer-digit {
    display: inline-block;
    vertical-align: middle;
}

/* Odometer digit spacer styling */
.odometer .odometer-digit .odometer-digit-spacer {
    display: block;
    vertical-align: middle;
    visibility: hidden;
}

/* Positioning for last value in odometer */
.odometer .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
    left: 0;
    right: 0;
}

/* Backface visibility for odometer ribbon */
.odometer-ribbon-inner {
    -webkit-backface-visibility: hidden;
}

/* Odometer animation for counting up */
.odometer.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform var(--time);
    -moz-transition: -moz-transform var(--time);
    -ms-transition: -ms-transform var(--time);
    -o-transition: -o-transform var(--time);
    transition: transform var(--time);
}

/* Odometer animation for counting up */
.odometer.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* Odometer animation for counting down */
.odometer.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

/* Odometer animation for counting down */
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform var(--time);
    -moz-transition: -moz-transform var(--time);
    -ms-transition: -ms-transform var(--time);
    -o-transition: -o-transform var(--time);
    transition: transform var(--time);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* Odometer animation timing function */
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition-timing-function: var(--odometer-easing);
    -moz-transition-timing-function: var(--odometer-easing);
    -ms-transition-timing-function: var(--odometer-easing);
    -o-transition-timing-function: var(--odometer-easing);
    transition-timing-function: var(--odometer-easing);
}

/* Transform for odometer value */
.odometer .odometer-digit .odometer-value {
    -webkit-transform: translateZ(0);
}

/* Odometer styling for specific format */
.odometer._2 .odometer-inside .odometer-digit:last-child,
.od
